@media(max-width: 800px){
    .mainimage{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-left: 10px;
        
    }
    .carousel{
        height: 200px;
    }
}
@media(min-width: 800px){
    .mainimage{
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    .carousel{
        height: 400px;
    }
}